apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-frontend
  namespace: apps
spec:
  replicas: 2
  selector:
    matchLabels:
      app: react
  template:
    metadata:
      labels:
        app: react
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: frontend
          image: didin8080/frontend:11
          ports:
            - containerPort: 5000
          envFrom:
              - configMapRef:
                  name: react-config
