apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-backend
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: laravel
  template:
    metadata:
      labels:
        app: laravel
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: backend
          image: didin8080/backend:latest
          ports:
            - containerPort: 80
          envFrom:
            - secretRef:
                name: backend-env
